# someStringWithEscape="string \"Velure"
# five=5 # this is the short docu
# 
# # And this is the long docu
# fifteen = five * 3
# 
# true=true
# false = not true
# other= "s"*3

VERSION=0.0.1

SRC_FOLDERS=["./myApi", "!./myApi/node_modules", "./apiUser"]

# ACTUAL CONFIG FOR THE PROJECT
PORT=8080
HOST="localhost"
SERVEROOT=./someHtml
BACKEND_DIR=./myAPI